<?xml version="1.0" encoding="utf-8"?>
<Context path="/ProtonChamber">
  <Resource name="jdbc/ProtonDB"
            auth="Container"
            type="javax.sql.DataSource"
            username="dventimi"
            password="isyih666"
            driverClassName="org.postgresql.Driver"
	    url="jdbc:postgresql://localhost:5432/dventimi"
            maxTotal="8"
            maxIdle="4"/>
</Context>
