<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	 id="WebApp_ID" version="2.5">

  <servlet>
    <servlet-name>ProtonServlet</servlet-name>
    <servlet-class>org.protonchamber.ProtonServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
    <init-param><param-name>dsname</param-name><param-value>jdbc/StudyBlue</param-value></init-param>
    <init-param><param-name>CATALOG</param-name><param-value>studyblue</param-value></init-param>
    <init-param><param-name>SCHEMA_PATTERN</param-name><param-value>public</param-value></init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>ProtonServlet</servlet-name>
    <url-pattern>/ProtonService.svc/*</url-pattern>
  </servlet-mapping>

  <resource-ref>
    <res-ref-name>jdbc/StudyBlue</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <resource-ref>
    <res-ref-name>jdbc/ProtonDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <resource-ref>
    <res-ref-name>jdbc/StudyBlue2</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

</web-app>
